# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Test directory being used to store media files
media/

# GoLang output directory
.idea/

# Test SQLite DB file
#*.db

# Temporarily disable version control on front end
#views/