 <!DOCTYPE html>
<html>
    <head>
        <title>Nostalgia Rewind - Index</title>
        <link rel="stylesheet" href="index.css">
    </head>

<body>
    <div id="header">
        <img src="header-banner.png" alt="header banner" id="header-banner">
        <nav>
            <a href="/home"> Home </a>
            <a href="/webserver/blog"> Blog </a>
            <a href="/forum"> Forum </a>
            <a href="/about"> About </a>
        </nav>
    </div>
   

   <div id="content">
        <h1>Nostalgia Rewind</h1>
        <p>Coming soon...</p>
    </div>

    <div id="footer">
        <p>This is a footer.</p>
    </div>
</body>

</html> 